extends layout
block content
  div#m1
    h1 WEB PROGRAMMING WITH MEAN
    h2 
  div.area
            ul.circles
              li 
              li 
              li 
              li 
              li 
              li
              li
              li
              li
              li

 