doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container.bhhh
      div.row
        div.col-lg-6
          div.box
            h2.hhh 2021
            a(href="https://drive.google.com/file/d/1rdYrfFYUWVJ8dF8e2pgbCFDn9WoMf8Du/view?usp=drive_link").jjh Mid 1 
            p 
            a(href="https://drive.google.com/file/d/1ncep0fwRRv-uwGVPnitvn1e6ceNmMaxf/view?usp=drive_link").jjh Mid 2
            p
            a(href="https://drive.google.com/file/d/1GgE9hHq83_jLuW1rIgcoTMp2Q8Nt8fgk/view?usp=drive_link").jjh Mid 3
            p
            a(href="https://drive.google.com/file/d/1l6w6r3WWK8o84xdzx6aAoiTzE_BOZ8_h/view?usp=sharing").jjh Semester 
        div.col-lg-6
          div.box
            h2.hhh 2022
            a(href="https://drive.google.com/file/d/1rdYrfFYUWVJ8dF8e2pgbCFDn9WoMf8Du/view?usp=drive_link").jjh Mid 1
            p
            a(href="https://drive.google.com/file/d/1ncep0fwRRv-uwGVPnitvn1e6ceNmMaxf/view?usp=drive_link").jjh Mid 2
            p
            a(href="https://drive.google.com/file/d/1GgE9hHq83_jLuW1rIgcoTMp2Q8Nt8fgk/view?usp=drive_link").jjh Mid 3
            p
            a(href="https://drive.google.com/file/d/1l6w6r3WWK8o84xdzx6aAoiTzE_BOZ8_h/view?usp=sharing").jjh Semester 
      div.row
        div.col-md-12
          div.box
            h2.hhh Important Questions 
            a(href="https://drive.google.com/file/d/1I-B5wKtSwT8i6nlCAKznCarlkKQOq3lT/view?usp=drive_link").jjh Unit 1
            p
            a(href="https://drive.google.com/file/d/1I-B5wKtSwT8i6nlCAKznCarlkKQOq3lT/view?usp=drive_link").jjh Unit 2
            p
            a(href="https://drive.google.com/file/d/1bSh6vlX9I0mussmuH5n8Caucz_qp3dVt/view?usp=drive_link").jjh Unit 3
            p
            a(href="https://drive.google.com/file/d/1dY2nkj_zh69NctOZkbqiX0II6ftGm57G/view?usp=drive_link").jjh Unit 4
            p
            a(href="https://drive.google.com/file/d/1u68fgggRjNy_LD2VmTEiiOC6HLKCrbiq/view?usp=drive_link").jjh Unit 5    



block content
