doctype html
html
  head
    title= title
    
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  body(style="background-color: #ede8e8;")
    nav.navbar.navbar-default.navbar-fixed-top.gg
      .container
        ul(style="margin-bottom:20px;")
          li#logo
            a(href='/') 
              img(src='/images/aulogo.png')#aulogo 
    div.container
      div.row.d-flex.flex-wrap.boxl
          div.col-lg-8
            div.box.box1.text-center
              h3.cen Important Questions
              br
              br
              tr.table1
                th
                  a(href="https://docs.google.com/document/d/1r0xvRja38mslVdEiLZymhOn145UJP47kKDk23cqBuAY/edit?usp=drive_link" )
                    img(src='/images/document.png').imged
                  
                th
                  a(href="https://drive.google.com/file/d/136GLOy2wbr6j4QlWWvhMsRv_0j2D8VgS/view?usp=sharing")
                    img(src='/images/document.png').imged

                th
                  a(href="https://drive.google.com/file/d/1qTDoeVsGLJHRReUacrSIydB74DbjMrYp/view?usp=sharing")
                    img(src='/images/document.png').imged

                th
                  a(href="https://drive.google.com/file/d/1aqnQnWuxuk_4GW-OY7SO_KFJ6F5VGpZ5/view?usp=sharing")
                    img(src='/images/document.png').imged

                th 
                  a(href="https://drive.google.com/file/d/1JgSQ7K9ZoSNr730WzCHUjhhPj5ACuP9y/view?usp=sharing")
                    img(src='/images/document.png').imged 
              
              table
                  tr
                    th(style="padding-right: 80px; padding-left: 120px;") Unit 1 
                    th(style="padding-right: 80px;") Unit 2
                    th(style="padding-right: 85px;") Unit 3
                    th(style="padding-right: 90px;") Unit 4
                    th Unit 5


          div.col-lg-4
            div.box.box2.text-center
              h3.cen Semester
              br
              br
              tr.table1
                th
                  a(href="")
                    img(src='/images/document.png').imged1
                  
                th
                  a(href="https://drive.google.com/file/d/1l6w6r3WWK8o84xdzx6aAoiTzE_BOZ8_h/view?usp=drive_link")
                    img(src='/images/document.png').imged1
              br
              table
                  tr
                    th(style="padding-right: 85px; padding-left: 100px;") 2021 
                    th 2022

        div
          div.row.d-flex.flex-wrap.boxl
            div.col-lg-4
              div.box.box-red.box3.text-center
                h3.cen Mid 1
                br
                br
                tr.table1
                  th
                    a(href="")
                      img(src='/images/document.png').imged2
                    
                  th
                    a(href="https://docs.google.com/document/d/1TowKV5WMI16UZ-1RILpDBy17fzkJPRKZ/edit?usp=sharing&ouid=118237934566368399261&rtpof=true&sd=true")
                      img(src='/images/document.png').imged2

                  th
                    a(href="")
                      img(src='/images/document.png').imged2
                br
                table
                  tr
                    th(style="padding-right: 80px; padding-left: 43px;") 2O21 
                    th(style="padding-right: 80px;") 2022
                    th 2023

    
            div.col-lg-4
              div.box.box-green.box4.text-center
                h3.cen Mid 2
                br
                br
                tr.table1
                  th
                    a(href="")
                      img(src='/images/document.png').imged2
                    
                  th
                    a(href="https://docs.google.com/document/d/1kOyx5A5w9KDbqR23krWGzmlWYXMtCLrx/edit?usp=sharing&ouid=118237934566368399261&rtpof=true&sd=true")
                      img(src='/images/document.png').imged2

                  th
                    a(href="")
                      img(src='/images/document.png').imged2
                br
                table
                  tr
                    th(style="padding-right: 80px; padding-left: 43px;") 2O21 
                    th(style="padding-right: 80px;") 2022
                    th 2023


            div.col-lg-4
              div.box.box-blue.box5.text-center
                h3.cen Mid 3
                br
                br
                tr.table1
                  th
                    a(href="")
                      img(src='/images/document.png').imged2
                    
                  th
                    a(href="https://docs.google.com/document/d/14M1rj43X88FrPtFTR7zl2G9k5mCDKrwm/edit?usp=sharing&ouid=118237934566368399261&rtpof=true&sd=true")
                      img(src='/images/document.png').imged2

                  th
                    a(href="")
                      img(src='/images/document.png').imged2
                br
                table
                  tr
                    th(style="padding-right: 80px; padding-left: 43px;") 2O21 
                    th(style="padding-right: 80px;") 2022
                    th 2023

              