extends layout
block content
  div.container.hh
    div.row
      div.col-md-4
        div.bbox
          h2 Unit 1
          p Architecture of WWW, HTTP, HTTPS, 2-Tier and multi-Tier web application  architectures. 
          p.bol Introducing full-stack development 
          p Introduction to the full-stack, history of web development, Introduction to MEAN stack.  Node.js, Express, MongoDB and Angular, supporting cast 
          p.bol Designing a MEAN Stack Architecture 
          p Common MEAN stack architecture, Beyond SPAs, Designing flexible MEAN  architecture, planning a real application, breaking the development into stages,  hardware architecture
      div.col-md-4
        div.bbox
          h2 Unit 2
          p Building a Node Web Application
          p <b>Creating and setting up a MEAN project:</b> Creating an Express project, modifying  Express for MVC, Importing Bootstrap for quick, responsive layouts, making it live on  Heroku 
          p <b>Building a static site with Node and Express:</b> Defining the routes in Express, building  basic controllers, creating some views, adding the rest of the views, taking the data out  of the views and making them smarter 
      div.col-md-4
        div.bbox
          h2 Unit 3
          p <b>Building a data model with MongoDB and Mongoose:</b> Connecting the Express  application to MongoDB by using Mongoose, Benefits of modeling the data, defining  simple mongoose schemas, using the MongoDB shell to create a MongoDB database  and add data, getting database live 
          P <b>Writing a REST API:</b> Exposing the MongoDB database to the application: The rules  of a REST API, setting up the API in Express, GET methods: Reading data from  MongoDB, POST methods: Adding data to MongoDB, PUT methods: Updating data in  MongoDB, DELETE method: Deleting data from MongoDB 
    div.row
      div.col-md-6
        div.bbox
          h2 Unit 4
          p Adding Dynamic Front End with Angular
          p <b>Creating an Angular application with Typescript:</b> getting up and running with  Angular, working with angular components, getting data from an API, putting and  Angular application into production 
          p <b>Building a single-page application with Angular:</b> Foundations: Adding navigation in  an Angular SPA, building a modular app using multiple nested components, adding  geo-location to find places near you, and safely binding HTML content. 
      div.col-md-6
        div.bbox
          h2 Unit 5
          p Managing Authentication and User Sessions
          p <b>Using an authentication API in Angular applications:</b> Creating an Angular  authentication service, creating the Register and Login pages, working with  authentication in the Angular app. 
      div.col-mid-6
        div.bbox
          .hhgg
            a(href="https://drive.google.com/drive/folders/1q58wSfdz4b4L9yBJBqWB6W051Ma-vc9-?usp=drive_link") Textbook